{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('wallet') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('wallet') }}
{% endblock %}
{% block body %}
    <a href="{{ path('app_logout') }}">Logout</a>
    <br>
    <br>

    <div>Hello {{ user.firstName }} {{ user.lastName }}</div>
    <div>{{ user.email }}</div>

    {% block page_contents %}

    {% endblock %}

{% endblock %}