{% extends 'base.html.twig' %}

{% block title %}All records{% endblock %}

{% block body %}
    <h5>All records information</h5>
    {% if records %}
        <div class="wallet-list">
            {% for record in records %}
                <div class="wallet-item">
                    <div class="wallet-item-wrapper">
                        <div>Description: <b>{{ record.name }}</b></div>
                        <div>Amount: <b>{{ record.amountForView }}</b></div>
                        <div>
                            Transferred: {% if record.fromWallet %}from <b>{{ record.fromWallet.name }}</b> {% endif %}
                            to <b>{{ record.toWallet.name }}</b>
                            at <b>{{ record.createdAt.format('Y-m-d H:i') }}</b>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="empty-wallet">
            No records found
        </div>
    {% endif %}
{% endblock %}