{% extends 'base.html.twig' %}

{% block body %}
    {% include 'flash-messages.twig' %}
    {% include 'logout.twig' %}
    <br>

    {% for record in records %}
        <div>Name: {{ record.name }}</div>
        <div>Amount: {{ record.amount }}</div>
        <div>
            Transferred: {% if record.fromWallet %}from {{ record.fromWallet.name }} {% endif %}
            to {{ record.toWallet.name }}
            at {{ record.createdAt.format('Y-m-d H:i:s') }}
        </div>

        <br>
        <br>
    {% endfor %}

{% endblock %}