{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="login-page">
        <div class="container-wrapper">
            <div class="container ">
                <h1>Log in</h1>
                {% if error %}
                    <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('app_login') }}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Email:</label>
                        <input required="required" type="email" class="form-control" id="username" name="_username"
                               value="{{ last_username }}"/>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input required="required" class="form-control" type="password" id="password" name="_password"/>
                    </div>

                    <input type="hidden" name="_target_path" value="{{ path('app_wallet_index') }}"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <input data-controller="form" type="submit" value="login" class="btn btn-primary">
                </form>

                <br>
                <a href="{{ path('app_register') }}">Sign up</a>

                <div class="alternative-login">
                    Or
                    <a class="facebook-btn" href="{{ path('connect_facebook_start') }}">Login with Facebook</a>
                    <a class="google-btn" href="{{ path('connect_google_start') }}">Login with Google</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}