{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_records') }}">Records</a>

    <br>
    <a href="{{ path('app_wallet_create') }}">Create wallet</a>
    <br>
    <br>

    {% include 'wallet/transfer.html.twig' %}
    <br>
    <br>

    {% for wallet in wallets %}
        <div>Name {{ wallet.name }}</div>
        <div>Type {{ wallet.walletTypeForView }}</div>
        <div>Balance {{ wallet.balanceForView }}</div>
        <div>Created at {{ wallet.createdAt.format('Y-m-d') }}</div>

        <a href="{{ path('app_wallet_detail', {'id': wallet.id}) }}">Wallet detail</a>
        <a href="{{ path('app_wallet_delete', {'id': wallet.id}) }}">Delete wallet</a>
        <br>
        <br>
    {% endfor %}

{% endblock %}