{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('wallet') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('wallet') }}
{% endblock %}
{% block body %}
    <h1>Number {{ number }}</h1>

    {% block page_contents %}

    {% endblock %}

{% endblock %}