{% extends 'base.html.twig' %}

{% block title %}Wallet records{% endblock %}

{% block body %}
    <h5><b>{{ wallet.name }}</b> wallet records </h5>
    {% if walletRecords %}
        <div class="wallet-list">
            {% for record in walletRecords %}
                <div class="wallet-item">
                    <div class="wallet-item-wrapper">
                        <div>Description: <b>{{ record.name }}</b></div>
                        <div>Amount: <b>{{ record.amountForView }}</b></div>
                        <div>Type: <b>{{ record.type(walletId) }}</b></div>
                        <div>Created at: <b>{{ record.createdAt.format('Y-m-d H:i') }}</b></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="empty-wallet">
            No records found
        </div>
    {% endif %}
{% endblock %}